*{
    font-family: Montserrat;
    /* border: 2px solid red; */
}


body{
    height: 100vh;
    background: rgb(36,59,85);
    background: linear-gradient(180deg, rgba(36,59,85,1) 0%, rgba(20,30,48,1) 100%);
}

